version: '2'
services:
  # mysql container
  m:
    image: xshoji/amazonlinux-mysql57:0.1
    build:
      context: ../
      dockerfile: ./amazonlinux-mysql57/Dockerfile
    ports:
      - "2222:22"
      - "13306:3306"
      - "10050:10050"
    tty: true
    environment:
      COMPOSE_PROJECT_NAME: amazonlinux-mysql57
