version: '2'
services:
    db:
        image: xshoji/amazonlinux-mysql57:0.1
        container_name: amazonlinux_mysql57
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "2222:22"
            - "13306:3306"
        tty: true
