version: '2'
services:
  # database container
  d:
    image: xshoji/oracle-xe-11g
    build:
      context: ../
      dockerfile: ./oraclexe11g/Dockerfile
    ports:
      - "2222:22"
      - "11521:1521"
#    volumes:
#      - .:/opt
    environment:
      DBUSER: system
      DBPASS: oracle
      DBSID: xe
      DBSCHEMA: system
      ORACLE_ALLOW_PASS_LIFE_UNLIMITED: true
