version: '2'
services:
  # mysql8
  d:
    image: mysql:8.0.32
    ports:
      # host-port:container-port
      - "13306:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      COMPOSE_PROJECT_NAME: mysql8
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      LANG: ja_JP.UTF-8
