version: '2'
services:
  # web-server container
  c:
    image: xshoji/alpine-php7:0.1
    build:
      context: ../
      dockerfile: ./alpine-php7/Dockerfile
    volumes:
      # /host/dir:/containr/dir
      - /tmp:/tmp
    tty: true
    environment:
      COMPOSE_PROJECT_NAME: alpine-php7
