version: '2'
services:
  # container
  c:
    image: xshoji/alpine3-vlang:0.1
    build:
      context: ../
      dockerfile: ./alpine3-vlang/Dockerfile
    volumes:
      # host-dir:container-dir
      - /tmp:/mactmp
    tty: true
    environment:
      COMPOSE_PROJECT_NAME: alpine3-vlang
