version: '2'
services:
  # container
  c:
    image: xshoji/alpine3-aimless:0.1
    build:
      context: ../
      dockerfile: ./alpine3-aimless/Dockerfile
    ports:
      # host-port:container-port, for web app
      - "18080:8080"
    volumes:
      # host-dir:container-dir
      - /tmp:/mactmp
    tty: true
    environment:
      COMPOSE_PROJECT_NAME: alpine3
