version: '2'
services:
  # container
  c:
    image: xshoji/centos7:0.1
    build:
      context: ../
      dockerfile: ./centos7/Dockerfile
    #  - [docker-compose up したコンテナを起動させ続ける方法 - Qiita](https://qiita.com/sekitaka_1214/items/2af73d5dc56c6af8a167)
    tty: true
    volumes:
      - /tmp:/tmp
    environment:
      COMPOSE_PROJECT_NAME: centos7
