version: '2'
services:
  # webserver
  w:
    image: xshoji/amazonlinux-apache24-php7:0.1
    build:
      context: ../
      dockerfile: ./amazonlinux-apache24-php7/Dockerfile
    ports:
      - "2222:22"
      - "8080:80"
    volumes:
      - /tmp:/opt
